<a href="https://colab.research.google.com/github/ParasNandwani/python/blob/master/pandas/10MinutesToPandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd

In [0]:
s= pd.Series([1,3,5,np.nan,6,8])
print(s)

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [0]:
dates=pd.date_range('20191221',periods=6)
dates

DatetimeIndex(['2019-12-21', '2019-12-22', '2019-12-23', '2019-12-24',
               '2019-12-25', '2019-12-26'],
              dtype='datetime64[ns]', freq='D')

In [0]:
dataframe=pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))
dataframe

                   A         B         C         D
2019-12-21  0.520897  0.775810 -0.341465  0.844287
2019-12-22 -0.254823  2.216440 -0.644395  0.681906
2019-12-23 -0.183717  0.889967 -0.143970  0.134976
2019-12-24 -0.001472 -0.524464 -0.031030  0.299982
2019-12-25 -0.430264  0.784850  1.581519 -0.686131
2019-12-26  0.488074 -1.108244  1.697558  0.179766

In [0]:
df2=pd.DataFrame({ 'A':1.
                  ,'B':pd.Timestamp('20191221')
                  ,'C':pd.Series(range(10),index=list(range(10)),dtype=float)
                  ,'D':np.array([2]*10, dtype=int)
                  ,'E':pd.Categorical(['test','train','test','train','test','train','test','train','test','train'])
                  ,'F':'foo'
                  })
df2

     A          B    C  D      E    F
0  1.0 2019-12-21  0.0  2   test  foo
1  1.0 2019-12-21  1.0  2  train  foo
2  1.0 2019-12-21  2.0  2   test  foo
3  1.0 2019-12-21  3.0  2  train  foo
4  1.0 2019-12-21  4.0  2   test  foo
5  1.0 2019-12-21  5.0  2  train  foo
6  1.0 2019-12-21  6.0  2   test  foo
7  1.0 2019-12-21  7.0  2  train  foo
8  1.0 2019-12-21  8.0  2   test  foo
9  1.0 2019-12-21  9.0  2  train  foo

In [0]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10 entries, 0 to 9
Data columns (total 6 columns):
A    10 non-null float64
B    10 non-null datetime64[ns]
C    10 non-null float64
D    10 non-null int64
E    10 non-null category
F    10 non-null object
dtypes: category(1), datetime64[ns](1), float64(2), int64(1), object(1)
memory usage: 586.0+ bytes

In [0]:
df2.head()

     A          B    C  D      E    F
0  1.0 2019-12-21  0.0  2   test  foo
1  1.0 2019-12-21  1.0  2  train  foo
2  1.0 2019-12-21  2.0  2   test  foo
3  1.0 2019-12-21  3.0  2  train  foo
4  1.0 2019-12-21  4.0  2   test  foo

In [0]:
df2.tail(3)

     A          B    C  D      E    F
7  1.0 2019-12-21  7.0  2  train  foo
8  1.0 2019-12-21  8.0  2   test  foo
9  1.0 2019-12-21  9.0  2  train  foo

In [0]:
df2.index

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9], dtype='int64')

In [0]:
dataframe.index

DatetimeIndex(['2019-12-21', '2019-12-22', '2019-12-23', '2019-12-24',
               '2019-12-25', '2019-12-26'],
              dtype='datetime64[ns]', freq='D')

In [0]:
dataframe.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [0]:
dataframe.to_numpy()

array([[ 5.20896728e-01,  7.75810465e-01, -3.41464741e-01,
         8.44287296e-01],
       [-2.54822531e-01,  2.21644044e+00, -6.44394604e-01,
         6.81905847e-01],
       [-1.83717430e-01,  8.89967082e-01, -1.43970076e-01,
         1.34976053e-01],
       [-1.47246748e-03, -5.24464197e-01, -3.10304087e-02,
         2.99982440e-01],
       [-4.30264433e-01,  7.84849946e-01,  1.58151938e+00,
        -6.86131394e-01],
       [ 4.88074072e-01, -1.10824449e+00,  1.69755762e+00,
         1.79766043e-01]])

In [0]:
df2.to_numpy()

array([[1.0, Timestamp('2019-12-21 00:00:00'), 0.0, 2, 'test', 'foo'],
       [1.0, Timestamp('2019-12-21 00:00:00'), 1.0, 2, 'train', 'foo'],
       [1.0, Timestamp('2019-12-21 00:00:00'), 2.0, 2, 'test', 'foo'],
       [1.0, Timestamp('2019-12-21 00:00:00'), 3.0, 2, 'train', 'foo'],
       [1.0, Timestamp('2019-12-21 00:00:00'), 4.0, 2, 'test', 'foo'],
       [1.0, Timestamp('2019-12-21 00:00:00'), 5.0, 2, 'train', 'foo'],
       [1.0, Timestamp('2019-12-21 00:00:00'), 6.0, 2, 'test', 'foo'],
       [1.0, Timestamp('2019-12-21 00:00:00'), 7.0, 2, 'train', 'foo'],
       [1.0, Timestamp('2019-12-21 00:00:00'), 8.0, 2, 'test', 'foo'],
       [1.0, Timestamp('2019-12-21 00:00:00'), 9.0, 2, 'train', 'foo']],
      dtype=object)

In [0]:
dataframe.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.023116  0.505727  0.353036  0.242464
std    0.397532  1.173988  1.018688  0.535982
min   -0.430264 -1.108244 -0.644395 -0.686131
25%   -0.237046 -0.199396 -0.292091  0.146174
50%   -0.092595  0.780330 -0.087500  0.239874
75%    0.365687  0.863688  1.178382  0.586425
max    0.520897  2.216440  1.697558  0.844287

In [0]:
dataframe.T

# dataframe.T for transposing..It will change row to column and column to row

   2019-12-21  2019-12-22  2019-12-23  2019-12-24  2019-12-25  2019-12-26
A    0.520897   -0.254823   -0.183717   -0.001472   -0.430264    0.488074
B    0.775810    2.216440    0.889967   -0.524464    0.784850   -1.108244
C   -0.341465   -0.644395   -0.143970   -0.031030    1.581519    1.697558
D    0.844287    0.681906    0.134976    0.299982   -0.686131    0.179766

In [0]:
dataframe.sort_index(axis=0,ascending=False)

                   A         B         C         D
2019-12-26  0.488074 -1.108244  1.697558  0.179766
2019-12-25 -0.430264  0.784850  1.581519 -0.686131
2019-12-24 -0.001472 -0.524464 -0.031030  0.299982
2019-12-23 -0.183717  0.889967 -0.143970  0.134976
2019-12-22 -0.254823  2.216440 -0.644395  0.681906
2019-12-21  0.520897  0.775810 -0.341465  0.844287

In [0]:
dataframe.sort_values(by=['C','D'],ascending=False)

                   A         B         C         D
2019-12-26  0.488074 -1.108244  1.697558  0.179766
2019-12-25 -0.430264  0.784850  1.581519 -0.686131
2019-12-24 -0.001472 -0.524464 -0.031030  0.299982
2019-12-23 -0.183717  0.889967 -0.143970  0.134976
2019-12-21  0.520897  0.775810 -0.341465  0.844287
2019-12-22 -0.254823  2.216440 -0.644395  0.681906

In [0]:
# Selectting on basis of column
dataframe['A']

2019-12-21    0.520897
2019-12-22   -0.254823
2019-12-23   -0.183717
2019-12-24   -0.001472
2019-12-25   -0.430264
2019-12-26    0.488074
Freq: D, Name: A, dtype: float64

In [0]:
# Seleting row on basis of index range
dataframe[1:3]

                   A         B         C         D
2019-12-22 -0.254823  2.216440 -0.644395  0.681906
2019-12-23 -0.183717  0.889967 -0.143970  0.134976

### Selection by label

In [0]:
dataframe.loc[dates[4]]

A   -0.430264
B    0.784850
C    1.581519
D   -0.686131
Name: 2019-12-25 00:00:00, dtype: float64

In [0]:
dataframe.loc[:,['A','B']]

                   A         B
2019-12-21  0.520897  0.775810
2019-12-22 -0.254823  2.216440
2019-12-23 -0.183717  0.889967
2019-12-24 -0.001472 -0.524464
2019-12-25 -0.430264  0.784850
2019-12-26  0.488074 -1.108244

In [0]:
dataframe.loc['20191222':'20191224',['A','B']]

                   A         B
2019-12-22 -0.254823  2.216440
2019-12-23 -0.183717  0.889967
2019-12-24 -0.001472 -0.524464

In [0]:
dataframe.loc['20191222','A']

-0.2548225306961249

### Selection by position

In [0]:
dataframe.head(6)

                   A         B         C         D
2019-12-21  0.520897  0.775810 -0.341465  0.844287
2019-12-22 -0.254823  2.216440 -0.644395  0.681906
2019-12-23 -0.183717  0.889967 -0.143970  0.134976
2019-12-24 -0.001472 -0.524464 -0.031030  0.299982
2019-12-25 -0.430264  0.784850  1.581519 -0.686131
2019-12-26  0.488074 -1.108244  1.697558  0.179766

In [0]:
dataframe.iloc[0]

A    0.520897
B    0.775810
C   -0.341465
D    0.844287
Name: 2019-12-21 00:00:00, dtype: float64

In [0]:
dataframe.iloc[1:3,0:3]

                   A         B         C
2019-12-22 -0.254823  2.216440 -0.644395
2019-12-23 -0.183717  0.889967 -0.143970

In [0]:
dataframe.iloc[[1,2],[1]]

                   B
2019-12-22  2.216440
2019-12-23  0.889967

In [0]:
# for slicing rows explicitly

dataframe.iloc[1:3,:]

                   A         B         C         D
2019-12-22 -0.254823  2.216440 -0.644395  0.681906
2019-12-23 -0.183717  0.889967 -0.143970  0.134976

In [0]:
# for slicing columns explicitly
dataframe.iloc[:,1:3]
# dataframe.iloc[rowIndex slicing,columnIndex slicing]

                   B         C
2019-12-21  0.775810 -0.341465
2019-12-22  2.216440 -0.644395
2019-12-23  0.889967 -0.143970
2019-12-24 -0.524464 -0.031030
2019-12-25  0.784850  1.581519
2019-12-26 -1.108244  1.697558

In [0]:
# for getting value explicitly
dataframe.iloc[1,1:3]
# dataframe.iloc[rowIndex,columnIndex]

B    2.216440
C   -0.644395
Name: 2019-12-22 00:00:00, dtype: float64

In [0]:
dataframe.iat[1,3]

0.68190584665947

difference between iloc and iat is index based slicing is acceptable in iloc but not in iat

### Boolean indexing

In [0]:
dataframe[dataframe.A>0]

                   A         B         C         D
2019-12-21  0.520897  0.775810 -0.341465  0.844287
2019-12-26  0.488074 -1.108244  1.697558  0.179766

In [0]:
dataframe.head(6)

                   A         B         C         D
2019-12-21  0.520897  0.775810 -0.341465  0.844287
2019-12-22 -0.254823  2.216440 -0.644395  0.681906
2019-12-23 -0.183717  0.889967 -0.143970  0.134976
2019-12-24 -0.001472 -0.524464 -0.031030  0.299982
2019-12-25 -0.430264  0.784850  1.581519 -0.686131
2019-12-26  0.488074 -1.108244  1.697558  0.179766

In [0]:
# Selecting values from a DataFrame where a boolean condition is me
dataframe[dataframe>0]

                   A         B         C         D
2019-12-21  0.520897  0.775810       NaN  0.844287
2019-12-22       NaN  2.216440       NaN  0.681906
2019-12-23       NaN  0.889967       NaN  0.134976
2019-12-24       NaN       NaN       NaN  0.299982
2019-12-25       NaN  0.784850  1.581519       NaN
2019-12-26  0.488074       NaN  1.697558  0.179766

In [0]:
df2=dataframe.copy()
df2['E']=['one','one','two','three','four','three']
df2.head()
df2.iat[1,4]

'one'

In [0]:
df2[df2['E'].isin(['two','four'])]

                   A         B         C         D     E
2019-12-23 -0.183717  0.889967 -0.143970  0.134976   two
2019-12-25 -0.430264  0.784850  1.581519 -0.686131  four

### Missing Data

In [0]:
df2.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.023116  0.505727  0.353036  0.242464
std    0.397532  1.173988  1.018688  0.535982
min   -0.430264 -1.108244 -0.644395 -0.686131
25%   -0.237046 -0.199396 -0.292091  0.146174
50%   -0.092595  0.780330 -0.087500  0.239874
75%    0.365687  0.863688  1.178382  0.586425
max    0.520897  2.216440  1.697558  0.844287

In [0]:
df2.head()

                   A         B         C         D      E
2019-12-21  0.520897  0.775810 -0.341465  0.844287    one
2019-12-22 -0.254823  2.216440 -0.644395  0.681906    one
2019-12-23 -0.183717  0.889967 -0.143970  0.134976    two
2019-12-24 -0.001472 -0.524464 -0.031030  0.299982  three
2019-12-25 -0.430264  0.784850  1.581519 -0.686131   four

In [0]:
df2=dataframe.copy()
df2.loc[:, 'F'] = np.array([5] * len(df2))
df2.at['20191221','F']=np.NaN
# df.at works with label based indexing
# df.iat works with pandas indexing
df2.head()

                   A         B         C         D    F
2019-12-21  0.520897  0.775810 -0.341465  0.844287  NaN
2019-12-22 -0.254823  2.216440 -0.644395  0.681906  5.0
2019-12-23 -0.183717  0.889967 -0.143970  0.134976  5.0
2019-12-24 -0.001472 -0.524464 -0.031030  0.299982  5.0
2019-12-25 -0.430264  0.784850  1.581519 -0.686131  5.0

In [0]:
# df2.dropna(how='any')
df2.fillna(value=df2.F.mean())

                   A         B         C         D    F
2019-12-21  0.520897  0.775810 -0.341465  0.844287  5.0
2019-12-22 -0.254823  2.216440 -0.644395  0.681906  5.0
2019-12-23 -0.183717  0.889967 -0.143970  0.134976  5.0
2019-12-24 -0.001472 -0.524464 -0.031030  0.299982  5.0
2019-12-25 -0.430264  0.784850  1.581519 -0.686131  5.0
2019-12-26  0.488074 -1.108244  1.697558  0.179766  5.0

##Stats

In [0]:
dataframe.mean()

A    0.023116
B    0.505727
C    0.353036
D    0.242464
dtype: float64

In [0]:
dataframe.mean(1)

2019-12-21    0.449882
2019-12-22    0.499782
2019-12-23    0.174314
2019-12-24   -0.064246
2019-12-25    0.312493
2019-12-26    0.314288
Freq: D, dtype: float64

In [0]:
s=pd.Series([1,3,5,np.nan,6,8],index=dates)

s

2019-12-21    1.0
2019-12-22    3.0
2019-12-23    5.0
2019-12-24    NaN
2019-12-25    6.0
2019-12-26    8.0
Freq: D, dtype: float64

In [0]:
s1=pd.Series([1,3,5,np.nan,6,8],index=dates).shift(3)
s1

2019-12-21    NaN
2019-12-22    NaN
2019-12-23    NaN
2019-12-24    1.0
2019-12-25    3.0
2019-12-26    5.0
Freq: D, dtype: float64

In [0]:
# dataframe.sub() function is used for finding the subtraction of dataframe 
dataframe.sub(s,axis='index')

                   A         B         C         D
2019-12-21 -0.479103 -0.224190 -1.341465 -0.155713
2019-12-22 -3.254823 -0.783560 -3.644395 -2.318094
2019-12-23 -5.183717 -4.110033 -5.143970 -4.865024
2019-12-24       NaN       NaN       NaN       NaN
2019-12-25 -6.430264 -5.215150 -4.418481 -6.686131
2019-12-26 -7.511926 -9.108244 -6.302442 -7.820234

## Apply

In [0]:
dataframe.head()

                   A         B         C         D
2019-12-21  0.520897  0.775810 -0.341465  0.844287
2019-12-22 -0.254823  2.216440 -0.644395  0.681906
2019-12-23 -0.183717  0.889967 -0.143970  0.134976
2019-12-24 -0.001472 -0.524464 -0.031030  0.299982
2019-12-25 -0.430264  0.784850  1.581519 -0.686131

In [0]:
dataframe.apply(np.cumsum)

                   A         B         C         D
2019-12-21  0.520897  0.775810 -0.341465  0.844287
2019-12-22  0.266074  2.992251 -0.985859  1.526193
2019-12-23  0.082357  3.882218 -1.129829  1.661169
2019-12-24  0.080884  3.357754 -1.160860  1.961152
2019-12-25 -0.349380  4.142604  0.420660  1.275020
2019-12-26  0.138694  3.034359  2.118217  1.454786

In [0]:
dataframe.head()

                   A         B         C         D
2019-12-21  0.520897  0.775810 -0.341465  0.844287
2019-12-22 -0.254823  2.216440 -0.644395  0.681906
2019-12-23 -0.183717  0.889967 -0.143970  0.134976
2019-12-24 -0.001472 -0.524464 -0.031030  0.299982
2019-12-25 -0.430264  0.784850  1.581519 -0.686131

In [0]:
dataframe.apply(lambda x:x.max()-x.min())

A    0.951161
B    3.324685
C    2.341952
D    1.530419
dtype: float64

## Histogramming

In [0]:
s1=pd.Series(np.random.randint(0,7,size=10))
s1

s1.value_counts(normalize=True)

3    0.3
2    0.3
1    0.2
4    0.1
0    0.1
dtype: float64

## String Methods

In [0]:
s=pd.Series(['A','B','C','AaBa','Baca',np.nan,'CABA','dog','cat'])

s.str.lower()

0       a
1       b
2       c
3    aaba
4    baca
5     NaN
6    caba
7     dog
8     cat
dtype: object

##Merge

Concat

In [0]:
df=pd.DataFrame(np.random.randn(10,4))
print(df.head())


# break into pieces
pieces=[df[:3],df[3:7],df[7:]]
print(pieces)


pd.concat(pieces)

          0         1         2         3
0  2.155742  0.513675  1.890565 -0.200072
1  0.407075 -0.212462  0.072326 -0.318715
2  0.611148  0.695148  2.284980  0.621568
3 -0.010098 -2.467333  0.105481  1.438556
4 -0.691255 -0.344467  1.270555  1.202282
[          0         1         2         3
0  2.155742  0.513675  1.890565 -0.200072
1  0.407075 -0.212462  0.072326 -0.318715
2  0.611148  0.695148  2.284980  0.621568,           0         1         2         3
3 -0.010098 -2.467333  0.105481  1.438556
4 -0.691255 -0.344467  1.270555  1.202282
5  1.257381 -2.210297  0.753047  0.227537
6  2.285146  2.719626 -1.558184  0.661092,           0         1         2         3
7 -0.115636 -0.807115  0.074710  0.071962
8 -0.100623  1.367287 -0.371734 -0.006662
9 -0.814071 -0.421801 -1.826940  0.707982]

          0         1         2         3
0  2.155742  0.513675  1.890565 -0.200072
1  0.407075 -0.212462  0.072326 -0.318715
2  0.611148  0.695148  2.284980  0.621568
3 -0.010098 -2.467333  0.105481  1.438556
4 -0.691255 -0.344467  1.270555  1.202282
5  1.257381 -2.210297  0.753047  0.227537
6  2.285146  2.719626 -1.558184  0.661092
7 -0.115636 -0.807115  0.074710  0.071962
8 -0.100623  1.367287 -0.371734 -0.006662
9 -0.814071 -0.421801 -1.826940  0.707982

**Join**

In [0]:
left = pd.DataFrame({'key': ['foo', 'foo'], 'lval': [1, 2]})

right = pd.DataFrame({'key': ['foo', 'foo'], 'rval': [4, 5]})

print(left)

print(right)

pd.merge(left, right, on='key')

   key  lval
0  foo     1
1  foo     2
   key  rval
0  foo     4
1  foo     5

   key  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5

In [0]:
left = pd.DataFrame({'key': ['foo', 'bar'], 'lval': [1, 2]})

right = pd.DataFrame({'key': ['foo', 'bar'], 'rval': [4, 5]})

pd.merge(left, right, on='key')

   key  lval  rval
0  foo     1     4
1  bar     2     5

In [0]:
dataframe=pd.DataFrame(np.random.randn(8,4),columns=['A','B','C','D'])
print(dataframe.head())

s=dataframe.iloc[3]
print(s)

dataframe.append(s,ignore_index=1)

          A         B         C         D
0 -1.106791 -1.234965  0.408766  1.187245
1  1.274093 -0.545774  0.513679  0.070311
2  3.429736  1.236805  0.406886 -0.226054
3  0.360672  1.502890 -1.124533  0.585924
4  2.317187 -0.200386  0.718769 -0.674822
A    0.360672
B    1.502890
C   -1.124533
D    0.585924
Name: 3, dtype: float64

          A         B         C         D
0 -1.106791 -1.234965  0.408766  1.187245
1  1.274093 -0.545774  0.513679  0.070311
2  3.429736  1.236805  0.406886 -0.226054
3  0.360672  1.502890 -1.124533  0.585924
4  2.317187 -0.200386  0.718769 -0.674822
5 -0.557754 -0.777370 -0.449638 -0.100443
6 -0.207145  2.992490  0.389570 -1.006357
7 -0.218225 -0.227983  0.933678  0.805511
8  0.360672  1.502890 -1.124533  0.585924

##Grouping.     
By "group by" we are reffering to a process involvig one or more of the following steps:     
- **Splitting** the data into groups based on some criteria
- **Applying** a function to each group independently
- **Combining** the results into a data structure

In [0]:
df=pd.DataFrame({'A':['foo','bar','foo','bar',
                      'foo','bar','foo','foo'],
                 'B':['one','one','two','three',
                      'two','two','one','three'],
                 'C':np.random.randn(8),
                 'D':np.random.randn(8)})
print(df)

     A      B         C         D
0  foo    one  0.394601  1.037468
1  bar    one -0.028919 -1.130810
2  foo    two -0.212790 -2.323546
3  bar  three -0.852363 -0.483798
4  foo    two  0.173333  0.267562
5  bar    two -0.522602  0.201052
6  foo    one -0.134934  0.045663
7  foo  three -0.336865  3.420078

In [0]:
df.groupby('A').sum()

            C         D
A
bar -1.403884 -1.413556
foo -0.116655  2.447224

In [0]:
df.groupby(['A','B']).sum()

                  C         D
A   B
bar one   -0.028919 -1.130810
    three -0.852363 -0.483798
    two   -0.522602  0.201052
foo one    0.259667  1.083130
    three -0.336865  3.420078
    two   -0.039457 -2.055984

## Reshapping

## Pivot Table

In [0]:
df = pd.DataFrame({'A': ['one', 'one', 'two', 'three'] * 3,
                   'B': ['A', 'B', 'C'] * 4,
                    'C': ['foo', 'foo', 'foo', 'bar', 'bar', 'bar'] * 2,
                    'D': np.random.randn(12),
                   'E': np.random.randn(12)})



df.head()

       A  B    C         D         E
0    one  A  foo -1.044902 -0.835041
1    one  B  foo  1.151403  1.147007
2    two  C  foo  0.266383  0.183254
3  three  A  bar  1.847159 -0.948187
4    one  B  bar  1.903590 -0.392455

In [0]:
pd.pivot_table(df,values=['D','E'],index=['A','B'],columns=['C'])

                D                   E
C             bar       foo       bar       foo
A     B
one   A  1.179022 -1.044902 -1.906805 -0.835041
      B  1.903590  1.151403 -0.392455  1.147007
      C -0.400240  1.104005 -0.523006 -0.880194
three A  1.847159       NaN -0.948187       NaN
      B       NaN -0.587223       NaN  0.085483
      C  0.429494       NaN -1.424086       NaN
two   A       NaN  0.045879       NaN -0.892807
      B -0.208642       NaN -0.620470       NaN
      C       NaN  0.266383       NaN  0.183254

##Time Series.     
pandas has simple.powerful and efficient functionality for performing resampling operations during frequency conversion

In [0]:
rng=pd.date_range('1/1/2012',periods=100,freq='S')

rng

DatetimeIndex(['2012-01-01 00:00:00', '2012-01-01 00:00:01',
               '2012-01-01 00:00:02', '2012-01-01 00:00:03',
               '2012-01-01 00:00:04', '2012-01-01 00:00:05',
               '2012-01-01 00:00:06', '2012-01-01 00:00:07',
               '2012-01-01 00:00:08', '2012-01-01 00:00:09',
               '2012-01-01 00:00:10', '2012-01-01 00:00:11',
               '2012-01-01 00:00:12', '2012-01-01 00:00:13',
               '2012-01-01 00:00:14', '2012-01-01 00:00:15',
               '2012-01-01 00:00:16', '2012-01-01 00:00:17',
               '2012-01-01 00:00:18', '2012-01-01 00:00:19',
               '2012-01-01 00:00:20', '2012-01-01 00:00:21',
               '2012-01-01 00:00:22', '2012-01-01 00:00:23',
               '2012-01-01 00:00:24', '2012-01-01 00:00:25',
               '2012-01-01 00:00:26', '2012-01-01 00:00:27',
               '2012-01-01 00:00:28', '2012-01-01 00:00:29',
               '2012-01-01 00:00:30', '2012-01-01 00:00:31',
               '2012-01-01 00:00:32', '2012-01-01 00:00:33',
               '2012-01-01 00:00:34', '2012-01-01 00:00:35',
               '2012-01-01 00:00:36', '2012-01-01 00:00:37',
               '2012-01-01 00:00:38', '2012-01-01 00:00:39',
               '2012-01-01 00:00:40', '2012-01-01 00:00:41',
               '2012-01-01 00:00:42', '2012-01-01 00:00:43',
               '2012-01-01 00:00:44', '2012-01-01 00:00:45',
               '2012-01-01 00:00:46', '2012-01-01 00:00:47',
               '2012-01-01 00:00:48', '2012-01-01 00:00:49',
               '2012-01-01 00:00:50', '2012-01-01 00:00:51',
               '2012-01-01 00:00:52', '2012-01-01 00:00:53',
               '2012-01-01 00:00:54', '2012-01-01 00:00:55',
               '2012-01-01 00:00:56', '2012-01-01 00:00:57',
               '2012-01-01 00:00:58', '2012-01-01 00:00:59',
               '2012-01-01 00:01:00', '2012-01-01 00:01:01',
               '2012-01-01 00:01:02', '2012-01-01 00:01:03',
               '2012-01-01 00:01:04', '2012-01-01 00:01:05',
               '2012-01-01 00:01:06', '2012-01-01 00:01:07',
               '2012-01-01 00:01:08', '2012-01-01 00:01:09',
               '2012-01-01 00:01:10', '2012-01-01 00:01:11',
               '2012-01-01 00:01:12', '2012-01-01 00:01:13',
               '2012-01-01 00:01:14', '2012-01-01 00:01:15',
               '2012-01-01 00:01:16', '2012-01-01 00:01:17',
               '2012-01-01 00:01:18', '2012-01-01 00:01:19',
               '2012-01-01 00:01:20', '2012-01-01 00:01:21',
               '2012-01-01 00:01:22', '2012-01-01 00:01:23',
               '2012-01-01 00:01:24', '2012-01-01 00:01:25',
               '2012-01-01 00:01:26', '2012-01-01 00:01:27',
               '2012-01-01 00:01:28', '2012-01-01 00:01:29',
               '2012-01-01 00:01:30', '2012-01-01 00:01:31',
               '2012-01-01 00:01:32', '2012-01-01 00:01:33',
               '2012-01-01 00:01:34', '2012-01-01 00:01:35',
               '2012-01-01 00:01:36', '2012-01-01 00:01:37',
               '2012-01-01 00:01:38', '2012-01-01 00:01:39'],
              dtype='datetime64[ns]', freq='S')

### Categoricals.     
Pandas can include categorical data in Dataframe

In [18]:
df=pd.DataFrame({'id':[1,2,3,4,5,6],
                 'raw_grade':['a','b','b','a','a','e']})
df

   id raw_grade
0   1         a
1   2         b
2   3         b
3   4         a
4   5         a
5   6         e

In [20]:
df['grade']=df['raw_grade'].astype("category")
df['grade']

# df.info()

0    a
1    b
2    b
3    a
4    a
5    e
Name: grade, dtype: category
Categories (3, object): [a, b, e]

In [23]:
df['grade'].cat.categories=["very good","good","very bad"]

df.head(6)

   id raw_grade      grade
0   1         a  very good
1   2         b       good
2   3         b       good
3   4         a  very good
4   5         a  very good
5   6         e   very bad

In [24]:
df["grade"]=df["grade"].cat.set_categories(["very bad","bad","medium","good","very good"])
df["grade"]

0    very good
1         good
2         good
3    very good
4    very good
5     very bad
Name: grade, dtype: category
Categories (5, object): [very bad, bad, medium, good, very good]

In [25]:
df.groupby("grade").size()

grade
very bad     1
bad          0
medium       0
good         2
very good    3
dtype: int64

In [32]:
df['raw_grade']=['a','b','c','d','a','e']
df['grade']=df['raw_grade'].astype("category")
df['grade'].cat.categories=["very good","good","medium","ok","very bad"]
df["grade"]=df["grade"].cat.set_categories(["very bad","bad","medium","good","very good","ok"])
df

   id raw_grade      grade
0   1         a  very good
1   2         b       good
2   3         c     medium
3   4         d         ok
4   5         a  very good
5   6         e   very bad